Repository Krosebrook/Flashfusionwebsite: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --max-warnings=0, prettier --write

docs: publish senior snapshot and roadmap
  README.md
  docs/README.md
  docs/ops/roadmap.md
  docs/ops/senior-snapshot.md
  src/ROADMAP.md
Due: prettier --write

docs: comprehensive inventory assessment baseline
  INVENTORY_ASSESSMENT.md
Due: prettier --write

Add comprehensive .env.example template
  .env.example
Due: none

Update src/components/launch/LaunchPreparationHub.tsx
  src/components/launch/LaunchPreparationHub.tsx
Due: pnpm exec eslint --max-warnings=0, prettier --write

feat: unblock dependencies and establish CI/CD pipeline (Phase 1 & 2)
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/_env_example.sh
  src/packages/api-client/package.json
  src/packages/api-client/src/index.ts
  src/packages/api-client/tsconfig.json
Due: pnpm exec eslint --max-warnings=0, prettier --write

docs: Phase 1 & 2 completion summary and Supabase setup guide
  PHASE_1_2_COMPLETION.md
  SUPABASE_SETUP_GUIDE.md
Due: prettier --write

fix: resolve TypeScript errors in 3 component files (12 errors fixed)
  TYPESCRIPT_FIXES_PROGRESS.md
  src/components/analytics/FlashFusionBusinessIntelligenceHub.tsx
  src/components/demo/Phase4QualityMetricsDemo.tsx
  src/components/performance/PerformanceBenchmarkingSystem.tsx
  src/components/performance/PerformanceMetricsDashboard.tsx
Due: pnpm exec eslint --max-warnings=0, prettier --write

Define security-agent with AppSec responsibilities
  .github/agents/my-agent.agent.md
Due: prettier --write

Document security-agent in my-agent.agent.md
  security-agent
Due: none

Add next five features execution radar
  .gitignore
  src/components/landing/FlashFusionLandingPage.tsx
  src/components/roadmap/NextFiveFeatures.tsx
  tests/next-five-features.test.ts
Due: pnpm exec eslint --max-warnings=0, prettier --write

feat: implement missing critical components and services
  src/App.tsx
  src/components/core/ServiceContainer.tsx
  src/components/tools/generation/FullStackAppBuilder.tsx
  src/contexts/ModalContext.tsx
  src/packages/hooks/src/keyboard-shortcuts.ts
  src/packages/services/src/error.ts
  src/services/AIService.ts
Due: pnpm exec eslint --max-warnings=0, prettier --write

Implement code generation export pipeline
  README.md
  src/components/tools/generation/CodeGeneratorTool.tsx
  src/docs/CODE_GENERATION_ENGINE.md
  src/hooks/__tests__/useProjectExport.test.ts
  src/hooks/useProjectExport.ts
  src/services/codeGenerationTemplates.ts
  src/types/code-generation.ts
Due: pnpm exec eslint --max-warnings=0, prettier --write

Implement analytics dashboard feature
  src/features/analytics-dashboard/__tests__/AnalyticsDashboard.test.tsx
  src/features/analytics-dashboard/components/AnalyticsDashboard.tsx
  src/features/analytics-dashboard/docs/FEATURE_README.md
  src/features/analytics-dashboard/hooks/useAnalyticsDashboard.ts
  src/features/analytics-dashboard/index.ts
  src/features/analytics-dashboard/services/AnalyticsDashboardService.ts
  src/features/analytics-dashboard/services/FeatureService.ts
  src/features/analytics-dashboard/stores/AnalyticsDashboardStore.ts
  src/features/analytics-dashboard/stores/FeatureStore.ts
  src/features/analytics-dashboard/types/feature.types.ts
Due: pnpm exec eslint --max-warnings=0, prettier --write

Add high-level snapshot overview
  HIGH_LEVEL_SNAPSHOT.md
Due: prettier --write

Add documentation inventory and placeholders
  docs/AUDIT_COMMANDS.md
  docs/DOCUMENTATION_INVENTORY.md
  docs/[ACCESS_CONTROL_MATRIX.md - Not Started]
  docs/[ALERTING_RUNBOOK.md - Not Started]
  docs/[API_AUTHORIZATION_MODEL.md - Not Started]
  docs/[API_ERROR_HANDLING.md - Not Started]
  docs/[ARCHITECTURE_DECISIONS.md - Not Started]
  docs/[CICD_PIPELINE.md - Not Started]
  docs/[DEPLOYMENT_ARCHITECTURE.md - Not Started]
  docs/[EDGE_CASES_AND_FAILURE_MODES.md - Not Started]
  docs/[ENVIRONMENT_CONFIGURATION_MATRIX.md - Not Started]
  docs/[FEATURE_CATALOG.md - Not Started]
  docs/[OBSERVABILITY_STRATEGY.md - Not Started]
  docs/[OPENAPI_SPEC.md - Not Started]
  docs/[OWNERSHIP_AND_ESCALATION.md - Not Started]
  docs/[RELEASE_PROCESS.md - Not Started]
  docs/[REPOSITORY_CONVENTIONS.md - Not Started]
  docs/[SECURITY_MODEL.md - Not Started]
  docs/[SYSTEM_CONTEXT_DIAGRAM.md - Not Started]
  docs/[TEST_SUITE_MATRIX.md - Not Started]
Due: prettier --write

refactor: centralize route state and harden demo auth fallback
  README.md
  docs/ADR-0001-frontend-boundaries.md
  src/hooks/useAuthentication.ts
  src/lib/__tests__/auth-policy.test.ts
  src/lib/__tests__/routing-state.test.ts
  src/lib/auth-policy.ts
  src/lib/routing-state.ts
  src/src/core/router/useRouter.ts
Due: pnpm exec eslint --max-warnings=0, prettier --write

Path conditions:
  pnpm exec eslint --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md,css})
